@page "/"
@inject IJSRuntime JSRuntime
@inject IBookService BookService
@inject NavigationManager _Navigation
<PageTitle>Home | Page @PageNumber</PageTitle>

Welcome to your new app.

<DataListView TItemType="Book" Items="_books" ColumnsCount="4">
    <ItemTemplate Context="book">
        <BookCard Book="book" OnAddToCartClicked="AddToCart"/>
    </ItemTemplate>
</DataListView>

<div class="mt-2">
    <button class="btn btn-primary" @onclick="() => GoToPage(1)">1</button>
    <button class="btn btn-primary" @onclick="() => GoToPage(2)">2</button>
    <button class="btn btn-primary" @onclick="() => GoToPage(3)">3</button>
</div>

<h3>My Cart</h3>
@foreach (var book in _booksCart)
{
    <li>@book.Title</li>
}

<ModalPopup Title="Hi!" IsOpen="@_IsWelcomeModalOpen" OnCloseClicked=" () => _IsWelcomeModalOpen = false">
    <ChildContent>
        <p>
            Welcome to our new book store, Here you will find all new released books, Huge and perfect collection.
        </p>
    </ChildContent>
    <FooterContent>
        <button class="btn btn-primary" @onclick="() => _IsWelcomeModalOpen = false">Discover it</button>
    </FooterContent>
</ModalPopup>


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "pageNumber")]
    public int PageNumber { get; set; }

    private List<Book> _books = new();
    private List<Book>? _booksCart = new();
    public bool _IsWelcomeModalOpen { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/script.js");
        _books = await BookService.GetAllBooksAsync();
    }

    protected override void OnParametersSet()
    {
        if(PageNumber <= 0)
            PageNumber = 1;
    }

    private void AddToCart(Book book)
    {
        _booksCart.Add(book);
    }

    private Book _firstBook = new Book
    {
        AuthorName = "Hamza Bek",
        PublishingDate = new DateTime(2003, 2, 15),
        Title = "How to get Born"
    };
    
    private void GoToPage(int pageNumber)
    {
        PageNumber = pageNumber;
        _Navigation.NavigateTo($"/?pageNumber={pageNumber}");
    }

}